<nav class="links fadeIn animated">
  <ul>
    {{!-- <ul class="ssk-group ssk-rounded ssk-grayscale"> --}}
        {{!-- <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li> --}}
        <li class="email"><a title="E-Mail" href="mailto:info@volkerwillige.de"><i class="fa fa-fw fa-envelope"></i></a></li>
        {{!-- <li><a href class="ssk ssk-facebook"></a></li>
        <li><a href class="ssk ssk-twitter"></a></li>
        <li><a href class="ssk ssk-google-plus"></a></li>
        <li><a href class="ssk ssk-pinterest"></a></li>
        <li><a href class="ssk ssk-tumblr"></a></li> --}}
    </ul>
</nav>
